In [1]:
import pandas as pd

# open download file
df_311 = pd.read_csv ('311_Service_Requests_from_2010_to_Present.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (11,12,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df_311.shape

(5730709, 41)

In [3]:
df_311.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [4]:
df_311.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,36256645,05/22/2017 01:04:13 PM,06/01/2017 05:49:36 PM,HPD,Department of Housing Preservation and Develop...,APPLIANCE,REFRIGERATOR,RESIDENTIAL BUILDING,11207.0,473 PENNSYLVANIA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.665657,-73.894263,"(40.66565733091582, -73.89426277950494)"
1,36256646,05/22/2017 05:30:54 PM,05/27/2017 11:22:47 AM,HPD,Department of Housing Preservation and Develop...,APPLIANCE,REFRIGERATOR,RESIDENTIAL BUILDING,10010.0,231 EAST 24 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.739012,-73.981488,"(40.739011629337135, -73.98148806847739)"
2,36258656,05/23/2017 05:01:02 PM,05/24/2017 11:42:10 AM,HPD,Department of Housing Preservation and Develop...,HPD Literature Request,The ABCs of Housing,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41770787,02/15/2019 09:32:11 AM,02/24/2019 02:05:25 AM,HPD,Department of Housing Preservation and Develop...,APPLIANCE,ELECTRIC/GAS RANGE,RESIDENTIAL BUILDING,11212.0,280 GRAFTON STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.661087,-73.917313,"(40.661086936087656, -73.91731263552074)"
4,41773385,02/01/2019 10:46:34 AM,02/24/2019 02:05:24 AM,HPD,Department of Housing Preservation and Develop...,WATER LEAK,HEAVY FLOW,RESIDENTIAL BUILDING,11212.0,435 EAST 92 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.655616,-73.920541,"(40.6556161176426, -73.92054144080991)"

In [5]:
df_311.drop(['Unique Key', 'Agency', 'Agency Name',
       'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Resolution Description',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment', 'Location'], axis=1, inplace=True)

In [6]:
df_311.shape

(5730709, 21)

In [7]:
df_311.columns

Index(['Created Date', 'Closed Date', 'Complaint Type', 'Descriptor',
       'Location Type', 'Incident Zip', 'Incident Address', 'Street Name',
       'Address Type', 'City', 'Landmark', 'Facility Type', 'Status',
       'Due Date', 'Resolution Action Updated Date', 'Community Board', 'BBL',
       'Borough', 'Open Data Channel Type', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
df_311.head()

,Created Date,Closed Date,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,...,Facility Type,Status,Due Date,Resolution Action Updated Date,Community Board,BBL,Borough,Open Data Channel Type,Latitude,Longitude
0,05/22/2017 01:04:13 PM,06/01/2017 05:49:36 PM,APPLIANCE,REFRIGERATOR,RESIDENTIAL BUILDING,11207.0,473 PENNSYLVANIA AVENUE,PENNSYLVANIA AVENUE,ADDRESS,BROOKLYN,...,NaN,Closed,NaN,06/01/2017 05:49:36 PM,05 BROOKLYN,3.038060e+09,BROOKLYN,PHONE,40.665657,-73.894263
1,05/22/2017 05:30:54 PM,05/27/2017 11:22:47 AM,APPLIANCE,REFRIGERATOR,RESIDENTIAL BUILDING,10010.0,231 EAST 24 STREET,EAST 24 STREET,ADDRESS,NEW YORK,...,NaN,Closed,NaN,05/27/2017 11:22:47 AM,06 MANHATTAN,1.009050e+09,MANHATTAN,PHONE,40.739012,-73.981488
2,05/23/2017 05:01:02 PM,05/24/2017 11:42:10 AM,HPD Literature Request,The ABCs of Housing,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Closed,05/31/2017 11:42:03 AM,05/24/2017 11:42:03 AM,0 Unspecified,NaN,Unspecified,PHONE,NaN,NaN
3,02/15/2019 09:32:11 AM,02/24/2019 02:05:25 AM,APPLIANCE,ELECTRIC/GAS RANGE,RESIDENTIAL BUILDING,11212.0,280 GRAFTON STREET,GRAFTON STREET,ADDRESS,BROOKLYN,...,NaN,Closed,NaN,02/24/2019 02:05:25 AM,16 BROOKLYN,3.035800e+09,BROOKLYN,PHONE,40.661087,-73.917313
4,02/01/2019 10:46:34 AM,02/24/2019 02:05:24 AM,WATER LEAK,HEAVY FLOW,RESIDENTIAL BUILDING,11212.0,435 EAST 92 STREET,EAST 92 STREET,ADDRESS,BROOKLYN,...,NaN,Closed,NaN,02/24/2019 02:05:24 AM,17 BROOKLYN,3.046670e+09,BROOKLYN,PHONE,40.655616,-73.920541

In [9]:
df_311.to_csv('311.csv')